# build 
__pycache__
**/dist/*
**/build/*
dist/
*.pyc
*.egg-info
*.tar.gz
*.tgz
site/

# client
.DS_Store
.vscode
.idea/


# tets and coverage
**/.ruff_cache/*
*.log
*.log.*
*.csv
result.xml
.coverage
tests/stix2/tests
tests/output/*
alerts/
attachments/
rules/
risklists/
bundles/


# docs
docs/examples/classic_alerts/alerts
docs/examples/playbook_alerts/alerts
docs/examples/analyst_notes/attachments
docs/examples/detection/rules
docs/examples/enrich/enrich
docs/examples/risklists/risklists
docs/examples/stix2/bundles

# graphify
graphify-out


