.DS_Store
**/venv/*
**/venv3/*
__pycache__
**/dist/*
**/build/*
**/pkg_build/*
**/.ruff_cache/*
*.log
*.log.*
*.csv
.tox
rfalerts_*.json
rfplaybookalerts_*.json
dist/
.vscode
*.pyc
*.egg-info
*.tar.gz
*.tgz
result.xml
.coverage
examples/*/psengine
examples/classic_alerts/alerts
examples/playbook_alerts/playbook_alerts
examples/analyst_notes/analyst_notes
examples/detection/detections
examples/stix2/stix2
tests/stix2/tests
tests/output/*
virt/
