interactions:
- request:
    body: '{"entities": ["ip:185.225.75.241"], "filters": {"sources": ["technical"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.recordedfuture.com/links/search
  response:
    body:
      string: '{"data":[{"entity":{"type":"type:IpAddress","id":"ip:185.225.75.241","name":"185.225.75.241"},"links":[]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"entities": ["ip:185.225.75.241"], "filters": {"sources": ["insikt"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.recordedfuture.com/links/search
  response:
    body:
      string: '{"data":[{"entity":{"type":"type:IpAddress","id":"ip:185.225.75.241","name":"185.225.75.241"},"links":[]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
