interactions:
- request:
    body: '{"entities": ["kvXvR5"], "filters": {"sources": ["technical"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.recordedfuture.com/links/search
  response:
    body:
      string: '{"data":[{"entity":{"type":"type:CyberVulnerability","id":"kvXvR5","name":"CVE-2021-44228"},"links":[]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"entities": ["kvXvR5"], "filters": {"sources": ["insikt"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.recordedfuture.com/links/search
  response:
    body:
      string: '{"data":[{"entity":{"type":"type:CyberVulnerability","id":"kvXvR5","name":"CVE-2021-44228"},"links":[{"type":"type:MitreAttackIdentifier","id":"mitre:T1565.001","name":"T1565.001","source":"insikt","section":"iU_ZsE","attributes":[{"id":"display_name","value":"T1565.001
        (Data Manipulation: Stored Data Manipulation)"}]},{"type":"type:Organization","id":"QCwdoU","name":"Lazarus
        Group","source":"insikt","section":"iU_ZsE","attributes":[{"id":"threat_actor","value":true}]},{"type":"type:MitreAttackIdentifier","id":"mitre:T1014","name":"T1014","source":"insikt","section":"iU_ZsE","attributes":[{"id":"display_name","value":"T1014
        (Rootkit)"}]},{"type":"type:Organization","id":"r93Nss","name":"Storm-0978","source":"insikt","section":[...]
