interactions:
- request:
    body: '{"entities": ["idn:google.com"], "filters": {"sources": ["technical"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.recordedfuture.com/links/search
  response:
    body:
      string: '{"data":[{"entity":{"type":"type:InternetDomainName","id":"idn:google.com","name":"google.com"},"links":[{"type":"type:IpAddress","id":"ip:134.209.128.47","name":"134.209.128.47","source":"technical","section":"iU_ZsG","attributes":[{"id":"criticality","value":"Very
        Malicious"},{"id":"risk_level","value":4},{"id":"risk_score","value":93}]},{"type":"type:IpAddress","id":"ip:64.225.88.49","name":"64.225.88.49","source":"technical","section":"iU_ZsG","attributes":[{"id":"criticality","value":"Very
        Malicious"},{"id":"risk_level","value":4},{"id":"risk_score","value":92}]},{"type":"type:Hash","id":"hash:8b6e3546bbed238933e547b12012b3ce70728b28e6a45ef1678e9f4d35a25285","name":"8b6e3546bbed238933e547b12012b3ce70728b28e6a45ef1678e9f4d35a25285"[...]
